:root {
    --cinza: #111111;
    --vermelho: #ed3237;
    --branco: #ffffff;
}
* {
    font-family: "Istok Web";
}
body {
    overflow-x: hidden;
}
.apresentacao {
    background-image: url("/assets/images/Background/moto_vermelha.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100dvw;
    width: 100%;
    max-height: 1080px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}
#section1 {
    max-width: 100dvw;
    width: 100%;
    min-height: 1080px;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(17, 17, 17, 1) 10%,
        rgba(17, 17, 17, 0) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    max-width: 600px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 4%;
    top: -27%;
    z-index: 1;
}
.title {
    color: #fff;
    max-width: 1000px;
    width: 100%;
    font-size: 96px;
    font-weight: 700;
    line-height: 77%;
    position: absolute;
    left: 6%;
    top: 37%;
    z-index: 1;
}
.title span {
    color: var(--vermelho);
}
.desc {
    color: #fff;
    font-size: 32px;
    max-width: 800px;
    line-height: 164%;
    position: absolute;
    top: 54%;
    left: 6%;
    z-index: 1;
}
.desc span,
.subtitle span,
p span {
    font-weight: 600;
    z-index: 1;
}
.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 110px;
    height: 100%;
    max-width: 615px;
    width: 100%;
    background-color: var(--vermelho);
    border-radius: 55px;
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: 1;
}
.whatsapp:not(:hover) {
    animation: voltar 1s forwards;
}
.whatsapp img {
    color: var(--branco);
    max-width: 68px;
    width: 68px;
    max-height: 68px;
    height: 100%;
    z-index: 1;
}
.whatsapp span {
    color: #fff;
    font-size: 49px;
    margin-left: 20px;
    z-index: 1;
}
.whatsapp:hover {
    transform: scale((1.1));
    animation: scale 1s forwards;
}
.loja {
    width: 348px;
    height: 540px;
    border-radius: 84px;
    position: absolute;
    top: 27%;
    left: 66.9%;
    z-index: 2;
}
.loja img {
    width: 100%;
    height: 100%;
    border-radius: 84px;
    object-fit: cover;
    z-index: 1;
}
.blur {
    background-color: #fefefe04;
    width: 378px;
    height: 581px;
    border-radius: 85px;
    position: absolute;
    top: 25%;
    left: 66.1%;
    border-top: 1px solid #fefefe;
    border-right: 1px solid #fefefe;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}
.motos {
    background-color: var(--cinza);
    min-width: 100dvh;
    max-height: 3400px;
    height: 3400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.subtitle {
    font-size: 71px;
    font-weight: 700px;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 3%;
    left: 7%;
    color: var(--branco);
}
.subtitle span {
    color: var(--vermelho);
}
.traco {
    width: 450px;
    height: 5px;
    background-color: var(--branco);
}
.um {
    position: absolute;
    top: 8%;
    left: 7%;
    background: linear-gradient(
        90deg,
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}
.motos p {
    color: var(--branco);
    font-size: 32px;
    line-height: 150%;
    max-width: 850px;
    letter-spacing: 3px;
    position: absolute;
    top: 4%;
    left: 50%;
}
.dois {
    transform: rotate(90deg);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 100%
    );
    opacity: 5%;
    position: absolute;
    top: 4%;
    left: 33%;
}
.motos .whatsapp {
    top: 10%;
    left: 53%;
    max-width: 540px;
    width: 100%;
}
.motos .title {
    color: var(--vermelho);
    position: absolute;
    top: 18%;
    left: 25%;
}
.tres {
    max-width: 650px;
    width: 100%;
    position: absolute;
    top: 20.8%;
    left: 37%;
    background: linear-gradient(
        270deg,
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}
.moto {
    background-color: #201e1e;
    color: #fff;
    max-width: 737px;
    max-height: 790px;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    box-shadow: 5px 5px 5px #0000003a;
}
.name {
    color: var(--branco);
    font-size: 65px;
    font-weight: 700px;
    position: absolute;
    bottom: 3%;
    right: 5%;
}
.biz {
    top: 25%;
    left: 6%;
}
.bros {
    top: 30%;
    left: 54%;
}
.fazer {
    top: 60%;
    left: 6%;
}
.cg {
    top: 65%;
    left: 54%;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-size: 29px;
    max-width: 680px;
    max-height: 516px;
    height: 100%;
    width: 100%;
    letter-spacing: 1px;
    position: absolute;
    top: 6%;
    left: 6%;
}
.motoca {
    position: absolute;
    max-width: 360px;
    max-height: 360px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #0000003a;
    bottom: -20%;
    left: 6%;
    object-position: center;
    object-fit: cover;
}
.section3 {
    background-image: url("/assets/images/Background/moto_garagem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100dvw;
    width: 100%;
    min-height: 1080px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}
#mix {
    max-width: 100dvw;
    width: 100%;
    min-height: 1080px;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(17, 17, 17, 1) 10%,
        rgba(0, 0, 0, 0) 50%,
        rgba(17, 17, 17, 1) 90%
    );
    background-repeat: no-repeat;
    background-size: cover;
}
.section3 h1 {
    text-align: center;
    color: var(--branco);
    font-size: 72px;
    line-height: 129%;
    font-weight: 600px;
    position: absolute;
    max-width: 970px;
    width: 100%;
    letter-spacing: 2px;
    top: 15%;
    right: 1%;
}
h1 span {
    color: var(--vermelho);
}
.section3 p {
    color: var(--branco);
    max-width: 969px;
    max-height: 232px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 150%;
    letter-spacing: 2.3px;
    font-size: 32px;
    position: absolute;
    top: 50%;
    right: 1%;
}
.section3 img {
    object-fit: cover;
    object-position: 14% center;
    max-width: 440px;
    max-height: 678px;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    position: absolute;
    top: 15%;
    left: 7%;
}
.vantagens {
    min-height: 1340px;
    max-width: 100dvw;
    height: 100%;
    width: 100%;
    background-color: var(--cinza);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vantagens h1 {
    position: absolute;
    line-height: 80%;
    top: 2%;
}
.topicos {
    left: 7%;
}
.topico {
    left: 7%;
    display: flex;
    flex-direction: column;
}
